/* Font declaration */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'), url(../fonts/raleway-regular.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'), url(../fonts/raleway-extended.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: 'Manifesto';
	font-style: normal;
	font-weight: 400;
	src: local('Manifesto'), local('Manifesto-regular'), url(../fonts/manifesto.ttf) format('truetype');
}

body {
	margin: 0;
	font-size: 110%;
	font-family: 'Raleway', sans-serif;
}

/* Sections
------------ */
section,
footer {
	padding: 80px 7%;
	box-sizing: border-box;
	width: 100%;
	height: auto;
}
section div {
	line-height: 170%;
	font-size: 120%;
}
section .title {
	font-size: 150%;
}
section:nth-child(odd) {
	background-color: #FFF;
}
section:nth-child(even) {
	background-color: #EE9748;
	color: white;
}
section h2 {
	font-size: 260%;
	text-align: center;
}
section a {
	white-space: nowrap;
}
@media only screen and (max-width: 1001px) {
	section,
	footer {
		padding: 40px 5%;
	}
	section .title {
		font-size: 110%;
	}
}

/* Lander section
------------ */
#lander {
	background-image: url('../img/cover4_genderall.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;

	height: 100vh !important;
	text-align: center;
	position: relative;
}
#lander .box {
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding: 1% 3% 4%;
	color: #fff;
	box-sizing: border-box;
}
#lander h1 {
	font-family: 	'Raleway', sans-serif;
	font-size: 6em;
	line-height: initial;
	margin: 40px 0;
}
@media only screen and (max-width: 1001px) {
	#lander h1 {
		font-size: 2.5em;
	}
	#lander .box {
		width: 100vw;
		padding: 8%;
	}
}


/* Contact section
------------ */
#contact {
	padding-left: 150px;
	padding-right: 150px;
}
#contact .info {
	text-align: center;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-flow: row;
}
#contact .info .category {
	width: 30%;
}

#contact .info .category img {
	height: 64px;
}
@media only screen and (max-width: 1001px) {
	#contact {
		padding-left: 5%;
		padding-right: 5%;
	}
	#contact .info {
		flex-flow: column;
	}
	#contact .info .category {
		width: 100%;
		margin-bottom: 25px;
	}
	#contact .info .category:last-child {
		margin-bottom: 0px;
	}
}

/* Slideshow
------------ */
#how-to {
	padding-left: 0px;
	padding-right: 0px;
}
#slideshow-container {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-flow: row;
}
#slideshow,
#slide-back,
#slide-next,
#slideshow .slide {
	max-height: 700px;
	height: 70vh;
	min-height: 400px;
	display: inline-block;
}
#slideshow,
#slide-back,
#slide-next {
	background-color: #efa15a;
}
#slideshow * {
	max-height: 50vh;
	box-sizing: border-box;
}
#slideshow {
	position: relative;
	overflow: hidden;
	width: 100%;
}
#slideshow .slide {
	width: 100%;
	position: absolute;
	opacity: 0;
	align-items: center;
	justify-content: space-around;
	font-size: 12pt;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	transition: 1s;
}
#slideshow .slide .left,
#slideshow .slide .right {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
	width: 45%;
}
#slideshow .slide .left {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: center;
}
#slideshow .slide img {
	width: auto;
	max-width: 100%;
	margin-right: 2.5%;
	border-radius: 8px;
	box-shadow: 5px 0px 20px #000;
}
#slideshow .view {
	opacity: 1;
}
#slide-back,
#slide-next {
	display: inline-block;
	width: 10%;
	min-width: 80px;
	position: relative;
	cursor: pointer;
	transition: .5s;
}

#slide-next svg,
#slide-back svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25%;
	fill: #fff;
	opacity: 0.3;
	transition: .5s;
}
#slide-next:hover svg,
#slide-back:hover svg  {
	opacity: 1;
}
@media only screen and (max-width: 1001px) {
	#slideshow {
		width: auto;
	}
}

/* Slideshow no-js
------------ */
#slideshow-container.no-js,
#slideshow.no-js {
	background-color: transparent;
	display: block;
	height: inherit;
	max-height: inherit;
	min-height: inherit;
}
#slide-next.no-js,
#slide-back.no-js {
	display: none;
}
#slideshow.no-js {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}
#slideshow.no-js .slide {
	opacity: 1;
	height: auto;
	max-height: 50vh;
	min-height: 200px;
	margin: 40px 0;
	position: static;
}

/* Demo page button
------------ */
#demo > div {
	height: 200px;
	width: 100%;
	max-height: inherit;
	min-height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}
#demo a {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 150%;
	width: 50%;
	height: 50%;
	background-color: #5C0A0C;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
#demo div div {
	font-style: italic;
}

/* Top bar
------------ */
header {
	height: 55px;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	box-sizing: border-box;
	background-color: #34495e;
	padding: 0 30px;
}
header a,
header a:visited {
	transition: text-shadow .2s;
	color: #fff;
	text-decoration: none;
}
header nav {
	width: auto;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	white-space: nowrap;
	transform: translate(-50%, -50%);
}
header nav a {
	box-sizing: border-box;
	white-space: inherit;
	padding: 0 10px;
}
header nav a:hover {
	text-shadow: 0 0 10px rgba(255,255,255,0.7);
}
header .languages {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 20px;
	right: 20px;
	margin: 0 5px;
}
header .languages div {
	margin: 0 5px;
	display: inline-block;
	height: inherit;
}
header .languages div a {
	display: block;
	cursor: pointer;
	height: inherit;
}
header .languages div a img {
	display: block;
	opacity: 0.7;
	filter: grayscale(100%);
	border-radius: 6%;
	height: inherit;
}
header .languages .selected img {
	opacity: 1;
	filter: none;
}

@media only screen and (max-width: 1001px) {
	header
}

/* Footer
------------ */
footer {
	text-align: center;
	font-size: 80%;
	height: 200px;
	min-height: auto;
	color: #fff;
	background-color: #6c7a89;
}

/* Translations
------------ */
html[lang=no] .en,
html[lang=en] .no,
html[lang=en] .no,
html[lang=no] .en {
    display: none !important;
}
