/* Font declaration */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'), url(../fonts/raleway-extended.woff2) format('woff2');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/lato-extended.woff2) format('woff2');
}
@font-face {
	font-family: 'APHont';
	font-style: normal;
	font-weight: normal;
	src: local('APHont'), url(../fonts/APHont-Regular_q15c.ttf) format('truetype');
}
@font-face {
	font-family: 'APHont';
	font-style: italic;
	font-weight: normal;
	src: local('APHont'), url(../fonts/APHont-Italic_q15c.ttf) format('truetype');
}
@font-face {
	font-family: 'APHont';
	font-style: italic;
	font-weight: bold;
	src: local('APHont'), url(../fonts/APHont-BoldItalic_q15c.ttf) format('truetype');
}
@font-face {
	font-family: 'APHont';
	font-style: normal;
	font-weight: bold;
	src: local('APHont'), url(../fonts/APHont-Bold_q15c.ttf) format('truetype');
}

body {
	margin: 0;
	font-family: 'APHont', 'Lato', sans-serif;
	line-height: 1.5;
	letter-spacing: 1px;
	/* Font size at 14pt because people who require larger font sizes increase
	 * the size through their browser for all web pages regardless */
	font-size: 14pt;
}
body > * {
	line-height: 2em;
	font-size: 100%;
}
h1, h2, h3 {
	font-family: 'Raleway', 'Lato', sans-serif;
	line-height: normal;
}

/* Sections
------------ */
section {
	padding: 80px 15%;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	text-align: justify;
}
section .title {
	font-size: 150%;
}
section:nth-child(odd) {
	background-color: #fffdfa;
	color: #272561;
}
section:nth-child(even) {
	background-color: #EE9748;
	color: #fff;
}
section h2 {
	font-size: 300%;
	text-align: center;
	margin-top: 0;
}
section a {
	white-space: nowrap;
}

/* Lander section
------------ */
#lander {
	background-image: url('../img/cover4_genderall.jpg') !important;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;

	height: 100vh !important;
	text-align: center;
	position: relative;
}
#lander .box {
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding: 1% 3% 4%;
	color: #fff;
	box-sizing: border-box;
}
#lander h1 {
	font-size: 9rem;
	line-height: normal;
	margin: 40px 0;
}

/* GenderAll section
------------ */
#genderall {
	background-image: url(../img/cover2.jpg);
	background-size: cover;
	background-position: center center;
	position: relative;
	text-align: center;
}
#genderall .subtitle {
	text-align: center;
	font-style: italic;
	font-size: 1.3rem;
}
#genderall * {
	z-index: 2;
	position: relative;
}
#genderall .background-layer {
	background-color: rgba(1, 191, 157, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

/* Contact section
------------ */
#contact {
	padding-left: 150px;
	padding-right: 150px;
}
#contact .info {
	text-align: center;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-flow: row;
}
#contact .info .category {
	width: 30%;
	font-size: 1.2rem;
}

#contact .info .category img {
	height: 64px;
}

/* Slideshow
------------ */
#how-to {
	position: relative;
	background-image: url(../img/cover6.jpg);
	background-size: cover;
	background-position: center;
	padding-left: 0px;
	padding-right: 0px;
}
#how-to .background-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(51,181,197,0.7);
	z-index: 1;
}
#how-to * {
	z-index: 2;
	position: relative;
}
#slideshow-container {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-flow: row;
}
#slideshow,
#slide-back,
#slide-next,
#slideshow .slide {
	max-height: 700px;
	height: 70vh;
	/*min-height: 400px;*/
	display: inline-block;
}
#slideshow,
#slide-back,
#slide-next {
	background-color: rgba(0,0,0,0.2);
}
#slideshow * {
	/*max-height: 50vh;*/
	box-sizing: border-box;
}
#slideshow {
	position: relative;
	overflow: hidden;
	width: 100%;
}
#slideshow .slide {
	width: 100%;
	position: absolute;
	opacity: 0;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	transition: 1s;
}
#slideshow .slide .left,
#slideshow .slide .right {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
	width: 45%;
}
#slideshow .slide .left {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: right;
}
#slideshow .slide img {
	width: auto;
	max-width: 100%;
	margin-right: 2.5%;
	border-radius: 8px;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.6);
}
#slideshow .view {
	opacity: 1;
}
#slide-back,
#slide-next {
	display: inline-block;
	width: 10%;
	min-width: 80px;
	position: relative;
	cursor: pointer;
	transition: .5s;
}

#slide-next img,
#slide-back img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25%;
	opacity: 0.3;
	transition: .5s;
	height: 72px;
	width: 24px;
}
#slide-next:hover img,
#slide-back:hover img  {
	opacity: 1;
}

/* Demo page button
------------ */
#demo {
	background-image: url(../img/cover1.jpg);
	background-size: cover;
	background-position: center center;
	position: relative;
}
#demo * {
	position: relative;
	z-index: 2;
}
#demo .background-layer {
	background-color: rgba(238, 151, 72, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#demo > div {
	height: 200px;
	width: 100%;
	max-height: inherit;
	min-height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}
#demo .demo-button {
	width: auto;
	height: auto;
	max-height: 200px;
	max-width: 80vw;
	font-size: inherit;
	margin: 0;
	padding: 40px;
	font-size: 20pt;
	background-color: #5C0A0C;
	border-radius: 10px;
	color: #fff;
	border: 1px transparent dashed;
	font-weight: bold;
	box-sizing: border-box;
}
#demo .demo-button:focus {
	outline: none;
	border-color: orange;
}
#demo div .subtext {
	font-style: italic;
}

/* Utils
------------ */
.zoomable {
	cursor: zoom-in;
}

/* Image modal
------------ */
#image-modal {
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	z-index: 11;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: zoom-out;
}
#image-modal img {
	max-height: 95vh;
	max-width: 95vw;
	border-radius: 16px;
	cursor: inherit;
}

/* Top bar
------------ */
header {
	font-weight: normal;
	font-size: 12pt;
	height: 55px;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	box-sizing: border-box;
	background-color: rgb(52,73,94);
	padding: 0 30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
#menu-icon {
	display: none;
}
header nav {
	height: inherit;
	width: auto;
	box-sizing: border-box;
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: center;
}
header nav a,
header nav a:visited {
	transition: text-shadow .2s;
	color: #fff;
	text-decoration: none;
}
header nav a {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	white-space: inherit;
	padding: 0 10px;
	height: inherit;
	transition: .2s;
}
header nav a:hover {
	background-color: #6084a7;
}
header .toggles {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 55px;
	right: 20px;
	margin: 0 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
header .toggles .lang {
	height: 20px;
}
header .toggles div {
	margin: 0 5px;
	display: block;
	height: inherit;
}
header .toggles div a {
	display: block;
	cursor: pointer;
	height: inherit;
}
header .toggles div a img {
	display: block;
	opacity: 0.7;
	filter: grayscale(100%);
	border-radius: 6%;
	height: inherit;
}
header .toggles .selected img {
	opacity: 1;
	filter: none;
}

/* Footer
------------ */
footer {
	box-sizing: border-box;
	padding: 20px 140px;
	text-align: center;
	font-size: 12pt;
	font-weight: normal;
	line-height: normal;
	height: auto;
	color: #fff;
	background-color: rgb(52,73,94);
}

/* Translations
------------ */
html[lang=no] .en,
html[lang=en] .no,
html[lang=en] .no,
html[lang=no] .en {
    display: none !important;
}
